{% extends "itreporting/base.html" %}

{% block content %}

<h1>Product Catalog</h1>
    
    <ul class="product-list">
        {% for product in products %}
            <li class="card">
                <a>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
                </a>
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.cost }}</p>
                <a href="{% url 'product_detail' product.pk %}" class="btn btn-info">Product Detail</a>  
            </li>
        {% endfor %}
    </ul>
</body>

{% endblock %}