{% extends "itreporting/base.html" %}

{% block content %}

<h1>About us</h1>
<img src="https://caterhamcars.com/assets/Images/News/new-hq-16-9.jpg" alt="Caterham Base" width="250" height="200">
<h4>Established in 1973, Caterham have been at the forefront of cutting edge technology. having history in ECUs in race cars.
    Today, Ctaerham has established itself as a front runner in the electronic devises market.
</h4>

<div></div>
<div></div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
{% endblock %}
