{% extends "itreporting/base.html" %}

{% block content %}

<h1>Caterham</h1>
<h2>Welcome to our site! Feel free to shop through our products.</h2>
<p></p>
<p></p>
<a class="buy-now-button" href="{% url 'product' %}">Click to browse Products</a>
<p></p>
<p></p>

{% endblock %}

    
{% block sidebar %} 

<div class="col-md4"> 

        <h3>Current Weathers</h3> 

        <p class='text-muted'>Cities across United Kingdom 

            <ul class="list-group"> 

                    {% for weather in weather_data %} 

                        <li class="list-group-item list-group-item-light">{{ weather.city }}: {{ weather.description }}, {{ weather.temperature }}&deg;C</li> 

                    {% endfor %} 

            </ul> 

        </p> 
        <p>Class nullam per curae est lacinia. Ullamcorper ornare augue maecenas sapien cubilia eget. Consectetur senectus donec fusce imperdiet eros nisi libero? 
            Facilisis massa auctor tristique hac neque per vel fames dignissim. Risus dignissim et fermentum quam dui laoreet vel.
            Vitae taciti mauris eget sollicitudin elit fusce sapien consectetur.
        
            Arcu dapibus nam dictumst ac maecenas venenatis mus. Class hendrerit convallis nibh egestas maecenas lorem habitasse ridiculus nibh.
            Morbi arcu amet ut etiam, viverra est duis dapibus montes. Risus congue primis, finibus magnis odio posuere.
            Nisl penatibus rutrum vestibulum class integer torquent. Natoque nostra parturient adipiscing bibendum neque at pellentesque tristique litora.
            Aliquet magnis vehicula mattis urna iaculis viverra hendrerit ultrices. Ex id ipsum mauris fermentum elementum nisi. 
            Feugiat pulvinar tempus quisque iaculis suspendisse a. Ullamcorper condimentum sodales habitant nisi volutpat consectetur?
        </p>
        

</div> 
<p></p>

{% endblock sidebar %} 